@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   display: flex;
   align-items: center;
   justify-content: center;
   color: #265D80;
   font-family: 'Poppins', sans-serif;
}

.commentHeader{
    text-transform: capitalize;
    font-size: 3rem;
}

header{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.container{
    border: 2px solid #1e597d;
    width: 700px;
    padding: 1rem .5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.commentList{
    list-style: none;
}

.reactLogo{
    font-style: italic;
    width: 70px;
}