@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   display: flex;
   align-items: center;
   justify-content: center;
   color: #265D80;
   font-family: 'Poppins', sans-serif;
}

.commentHeader{
    text-transform: capitalize;
    font-size: 3rem;
}

header,
.header-flex,
.container{
    display: flex;
    align-items: center;
}

header{
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.reactLogo{
    margin-right: .4rem;
}

.container{
    flex-direction: column;
    border: 2px solid #1e597d;
    width: 700px;
    font-size: 1.2rem;
    font-weight: 500;
}

.commentList,
.orderetList,
ul{
    list-style: none;
    display: flex;
}

ol{
    margin: 1rem 0;
}

li{
    margin-left: .7rem;
}

.reactLogo{
    font-style: italic;
    width: 70px;
}